---
layout: loops_layout
permalink: /loops/
---

<section class="container">
  <section class="header">
    <h1>Loops</h1>

    <p>&ldquo;...I think, that beauty and grace are performed whether or not we will or sense them. The least we can do is try to be there.&rdquo;<br>-Annie Dillard</p>  
  </section>
  
  <!-- Start 2025 Loops -->
  <h3 id="2025">2025</h3>
  <section class="loop-cards">
    {% for loop in site.data.loops_cards_2025.loops %}
    {% include loops-cards.html %}
    {% endfor %}
  </section>
  <!-- End 2025 Loops -->

  <!-- Start 2024 Loops -->
  <h3 id="2024">2024</h3>
  <section class="loop-cards">
    {% for loop in site.data.loops_cards_2024.loops %}
    {% include loops-cards.html %}
    {% endfor %}
  </section>
  <!-- End 2024 Loops -->

  <!-- Start 2023 Loops -->
  <h3 id="2023">2023</h3>
  <section class="loop-cards">
    {% for loop in site.data.loops_cards_2023.loops %}
    {% include loops-cards.html %}
    {% endfor %}
  </section>
  <!-- End 2023 Loops -->

  <!-- Start 2022 Loops -->
  <h3 id="2022">2022</h3>
  <section class="loop-cards">
    {% for loop in site.data.loops_cards_2022.loops %}
    {% include loops-cards.html %}
    {% endfor %}
  </section>
  <!-- End 2022 Loops -->
</section>

<script>
let audioElements = document.querySelectorAll("audio");

audioElements.forEach(function(audio) {
  audio.volume = 0.5;
});

document.addEventListener('play', function(e) {
    var loops = document.getElementsByTagName('audio');

    for (var i = 0, len = loops.length; i < len; i++) {
        if (loops[i] != e.target) {
            loops[i].pause();
        }
    }
}, true);
</script>