---
layout: loops_layout
permalink: /loops/
---

<section class="container">
  <section class="header">
    <h1>Loops</h1>

    <p>&ldquo;I think once you are aware of the beauty of music, you could find it almost anywhere.&rdquo;<br>-RZA</p>
  </section>
  
  <!-- Start 2025 Loops -->
  <h3 id="2025">2025</h3>
  <section class="loop-cards">
    {% for loop in site.data.loops_cards_2025.loops %}
    {% include loops-cards.html %}
    {% endfor %}
  </section>
  <!-- End 2025 Loops -->

  <!-- Start 2024 Loops -->
  <h3 id="2024">2024</h3>
  <section class="loop-cards">
    {% for loop in site.data.loops_cards_2024.loops %}
    {% include loops-cards.html %}
    {% endfor %}
  </section>
  <!-- End 2024 Loops -->

  <!-- Start 2023 Loops -->
  <h3 id="2023">2023</h3>
  <section class="loop-cards">
    {% for loop in site.data.loops_cards_2023.loops %}
    {% include loops-cards.html %}
    {% endfor %}
  </section>
  <!-- End 2023 Loops -->

  <!-- Start 2022 Loops -->
  <h3 id="2022">2022</h3>
  <section class="loop-cards">
    {% for loop in site.data.loops_cards_2022.loops %}
    {% include loops-cards.html %}
    {% endfor %}
  </section>
  <!-- End 2022 Loops -->
</section>