<footer>
  <div class="cta">
    <h2>Have an operations project in mind?</h2>

    <p>Whether it's reviewing your current marketing operations processes or chatting about AI worflow improvments, I'd love to hear about your needs and learn how I can help.</p>

    <a href="https://www.linkedin.com/in/mattdavidlucas/" target="_blank">Let's Connect &rarr;</a>
  </div>

  <section class="site-nav">
    <p>Matthew Lucas</p>

    <nav>
      <ul>
        <li><a href="https://github.com/mattdavidlucas/" target="_blank"><img src="assets/images/icon_github.png" alt="GitHub"></a></li>
        <li><a href="https://www.linkedin.com/in/mattdavidlucas/" target="_blank"><img src="assets/images/icon_linkedin.png" alt="LinkedIn"></a></li>
      </ul>
    </nav>
  </section>
</footer>