<footer class="site-footer">
	<div class="wrapper">
		<small><span>&copy;</span> {{ site.time | date: '%Y' }} Matt Lucas</small>
		<small><b>Contact:</b> <a href="mailto:mattdavidlucas@gmail.com">Email</a> | <a href="https://github.com/mattdavidlucas" target="_blank">GitHub</a> | <a href="https://www.linkedin.com/in/mattdavidlucas/" target="_blank">LinkedIn</a></small>
	</div>
</footer>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="{{ site.url }}/js/global.js"></script>