  <article id="iot" class="portfolio_card">
    <a href="/intel-developer-campaign/"><img src="/img/thumbs/matt-david-lucas-thumbnail-intel-dev-campaign.png" alt=""></a>

    <header>
      <h4>Intel Developer Campaign</h4>
    </header>

    <p>The Intel Developer Campaign is a lead nurturing program. Working closely with account managers and digital strategists, my job was to translate the concepts and logic of the lead nurture flow into a full-fledged marketing campaign in Eloqua.</p>

    <footer>
      <a href="/intel-developer-campaign/" title="View Project">View Project</a>
    </footer>
  </article><!-- /.portfolio_card -->

  <article id="etl" class="portfolio_card">
    <a href="/engineering-training-library/"><img src="/img/thumbs/matt-david-lucas-thumbnail-eng-library.png" alt=""></a>

    <header>
      <h4>Engineering Training Library</h4>
    </header>

    <p>This internal resource was created as a way to quickly onboard new developers and account managers through short, easily consumable videos, to the Ozone Online way of digital marketing.</p>

    <footer>
      <a href="/engineering-training-library/" title="View Project">View Project</a>
    </footer>
  </article><!-- /.portfolio_card -->

  <article id="mateo" class="portfolio_card">
    <a href="/mateo-and-isabel/"><img src="/img/thumbs/matt-david-lucas-thumbnail-mateo-and-isabel.png" alt=""></a>

    <header>
      <h4>Mateo &amp; Isabel</h4>
    </header>

    <p>Mateo &amp; Isabel is a hand crafted, paper goods company created by Elizabeth Lucas. My role has been maintaining and developing her WordPress site, as well as designing and assisting with her digital presence on the web.</p>

    <footer>
      <a href="/mateo-and-isabel/" title="View Project">View Project</a>
    </footer>
  </article><!-- /.portfolio_card -->

  