<article id="pubnub" class="portfolio_card">
  <a href="/work/pubnub-email-templates/"><img src="/img/thumbs/matt-david-lucas-thumbnail-pubnub-email-templates.png" alt="PubNub Email Templates"></a>

  <header>
    <h4><a href="/work/pubnub-email-templates/" title="View Emails">PubNub Email Templates</a></h4>
  </header>

  <footer>
    <a href="/work/pubnub-email-templates/" title="View Emails">View Emails</a>
  </footer>
</article><!-- /.portfolio_card -->

<article id="pierry" class="portfolio_card">
  <a href="/work/pierry-software-emails/"><img src="/img/thumbs/matt-david-lucas-thumbnail-pierry-emails.png" alt="Pierry Software"></a>

  <header>
    <h4><a href="/work/pierry-software-emails/" title="View Emails">Pierry Software Emails</a></h4>
  </header>

  <footer>
    <a href="/work/pierry-software-emails/" title="View Emails">View Emails</a>
  </footer>
</article><!-- /.portfolio_card -->

<article id="iot" class="portfolio_card">
  <a href="/work/intel-developer-campaign/"><img src="/img/thumbs/matt-david-lucas-thumbnail-intel-dev-campaign.png" alt="Intel Developer Campaign"></a>

  <header>
    <h4><a href="/work/intel-developer-campaign/" title="View Project">Intel Developer Campaign</a></h4>
  </header>

  <footer>
    <a href="/work/intel-developer-campaign/" title="View Project">View Project</a>
  </footer>
</article><!-- /.portfolio_card -->

<article id="hertz-poc" class="portfolio_card">
  <a href="/work/hertz-poc/"><img src="/img/thumbs/matt-david-lucas-thumbnail-hertz-poc.png" alt="Hertz Bon Voyage POC"></a>

  <header>
    <h4><a href="/work/hertz-poc/" title="View Project">Hertz Bon Voyage POC</a></h4>
  </header>

  <footer>
    <a href="/work/hertz-poc/" title="View Project">View Project</a>
  </footer>
</article><!-- /.portfolio_card -->

<article id="adsk-wires" class="portfolio_card">
  <a href="/work/autodesk-email-wireframe/"><img src="/img/thumbs/matt-david-lucas-thumbnail-adsk-wires.png" alt="Autodesk Email Wireframes"></a>

  <header>
    <h4><a href="/work/autodesk-email-wireframe/" title="View Project">Autodesk Email Wireframe</a></h4>
  </header>

  <footer>
    <a href="/work/autodesk-email-wireframe/" title="View Project">View Project</a>
  </footer>
</article><!-- /.portfolio_card -->

<article id="mateo" class="portfolio_card">
  <a href="/work/mateo-and-isabel/"><img src="/img/thumbs/matt-david-lucas-thumbnail-mateo-and-isabel.png" alt="Mateo &amp; Isabel"></a>

  <header>
    <h4><a href="/work/mateo-and-isabel/" title="View Project">Mateo &amp; Isabel</a></h4>
  </header>

  <footer>
    <a href="/work/mateo-and-isabel/" title="View Project">View Project</a>
  </footer>
</article><!-- /.portfolio_card -->

<article id="project-mayhem" class="portfolio_card">
  <a href="/work/project-mayhem/"><img src="/img/thumbs/matt-david-lucas-thumbnail-project-mayhem.jpg" alt="Project Mayhem"></a>

  <header>
    <h4><a href="/work/project-mayhem/" title="View Project">Project Mayhem</a></h4>
  </header>

  <footer>
    <a href="/work/project-mayhem/" title="View Project">View Project</a>
  </footer>
</article><!-- /.portfolio_card -->

<article id="td-templates" class="portfolio_card">
  <a href="/work/teradata-email-templates/"><img src="/img/thumbs/matt-david-lucas-thumbnail-td-emails.jpg" alt="Teradata Email Templates"></a>

  <header>
    <h4><a href="/work/teradata-email-templates/" title="View Project">Teradata Email Templates</a></h4>
  </header>

  <footer>
    <a href="/work/teradata-email-templates/" title="View Project">View Project</a>
  </footer>
</article><!-- /.portfolio_card -->

<article id="etl" class="portfolio_card">
  <a href="/work/engineering-training-library/"><img src="/img/thumbs/matt-david-lucas-thumbnail-eng-library.png" alt="Engineering Training Library"></a>

  <header>
    <h4><a href="/work/engineering-training-library/" title="View Project">Engineering Training Library</a></h4>
  </header>

  <footer>
    <a href="/work/engineering-training-library/" title="View Project">View Project</a>
  </footer>
</article><!-- /.portfolio_card -->



