<article id="pubnub" class="portfolio_card">
  <a href="/work/pubnub-email-templates/"><img src="/img/thumbs/matt-david-lucas-thumbnail-pubnub-email-templates.png" alt="PubNub Email Templates"></a>
  
  <div>
    <header>
      <h4><a href="/work/pubnub-email-templates/" title="View Emails">PubNub Email Templates</a></h4>
    </header>

    <footer>
      <a href="/work/pubnub-email-templates/" title="View Emails">View Emails</a>
    </footer>
  </div>
  
</article><!-- /.portfolio_card -->

<article id="pierry" class="portfolio_card">
  <a href="/work/pierry-software-emails/"><img src="/img/thumbs/matt-david-lucas-thumbnail-pierry-emails.png" alt="Pierry Software"></a>

  <div>
    <header>
      <h4><a href="/work/pierry-software-emails/" title="View Emails">Pierry Software Emails</a></h4>
    </header>
  
    <footer>
      <a href="/work/pierry-software-emails/" title="View Emails">View Emails</a>
    </footer>
  </div>
</article><!-- /.portfolio_card -->

<article id="iot" class="portfolio_card">
  <a href="/work/intel-developer-campaign/"><img src="/img/thumbs/matt-david-lucas-thumbnail-intel-dev-campaign.png" alt="Intel Developer Campaign"></a>

  <div>
    <header>
      <h4><a href="/work/intel-developer-campaign/" title="View Project">Intel Developer Campaign</a></h4>
    </header>
  
    <footer>
      <a href="/work/intel-developer-campaign/" title="View Project">View Project</a>
    </footer>
  </div>
</article><!-- /.portfolio_card -->

<article id="hertz-poc" class="portfolio_card">
  <a href="/work/hertz-poc/"><img src="/img/thumbs/matt-david-lucas-thumbnail-hertz-poc.png" alt="Hertz Bon Voyage POC"></a>

  <div>
    <header>
      <h4><a href="/work/hertz-poc/" title="View Project">Hertz Bon Voyage POC</a></h4>
    </header>
  
    <footer>
      <a href="/work/hertz-poc/" title="View Project">View Project</a>
    </footer>
  </div>
</article><!-- /.portfolio_card -->

<article id="etl" class="portfolio_card">
  <a href="/work/engineering-training-library/"><img src="/img/thumbs/matt-david-lucas-thumbnail-eng-library.png" alt="Engineering Training Library"></a>

  <div>
    <header>
      <h4><a href="/work/engineering-training-library/" title="View Project">Engineering Training Library</a></h4>
    </header>
  
    <footer>
      <a href="/work/engineering-training-library/" title="View Project">View Project</a>
    </footer>
  </div>
</article><!-- /.portfolio_card -->