.home {
  header {
    border-bottom: 1px solid black;
    padding: 1rem 2rem;
  }
}

.logo {
  max-width: 220px;
  width: 100%;
}

// Nav
nav {
  background-color: white;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  font-family: 'Poppins', sans-serif;
  font-size: 1.3em;
  font-weight: 700;
  padding: 2rem;
  position: absolute;

  li {
    margin-bottom: 1em;

    &:last-child { margin-bottom: 0; }
  }

  a {
    color: black;
    position: relative;
    text-decoration: none;

    &:visited {
      @extend a;
    }

    &::before {
      border-radius: 90px;
      content: '';
      display: inline-block;
      position: relative;
      width: 20px;
      height: 20px;
      bottom: -2px;
      left: 0;
      margin-right: 0.4em;
    }

    &:hover {
      &::before {
        transition: transform .3s;
        transform: translateY(-.75em);
      }
    }
  }

  .loops_nav {
    &::before {
      background-color: $loopsColor;
    }
  }

  .old_drawings_nav {
    &::before {
      background-color: $oldDrawingsColor;
    }
  }
}

// Sketches
.current-sketch {
  overflow: scroll;
  position: relative;

  img { 
    width: 1200px; 
    @media only screen and (min-width: 760px) {
     width: 100%; 
    }
  }
}