a {
	color: #000;
}

.wrapper {
	margin: 0 auto;
	padding: 5% 10%;
}

.cta {
	@extend %cta;
}

@media only screen and (min-width: 600px) {
	.cta {
		max-width: 250px;

		&:hover {
			border-top-color: darken($hoverColor, 10%);
		}
	}
}

// Header for inner pages
.site-header {
	background-color: #000;
	margin-bottom: 20px;
	padding: 20px;

	ul, .logo { display: none; }
}

@media only screen and (min-width: 960px) {
	
	.site-header {
		background-color: #e1e1e1;
		height: 50px;
		margin-bottom: 0;
		padding: 0;

		h2, li, .logo {
			float: left;
		}
		
		ul, .logo { display: block; }

		ul {
			float: right;
		}

		.social-links {
			border-top: none;
			padding: 0;
		}
	}

	.logo {
		height: auto;
		max-width: 50px;
	}

}


// Footer
.site-footer {
	padding: 0 0 30px;

	small {
		display: block;
		font-size: 0.8em;
		text-align: center;
	}

	span { font-size: 1.2em; }
}


// Home Page
.module_content--home {
	header {
		border-bottom: 5px solid #000;
		margin-bottom: 1em;
	}	
}

#site-intro {
	img {
		@include rounded-corners(50%);
		margin: 30px auto;
		max-width: 200px;
	}	
}

.social-links {
	margin-top: 1em;

	a {
		@extend %cta;

		&:visited {
			color: #FFF;
		}
	}
}

@media only screen and (min-width: 760px) {
	.social-links {
		border-top: 5px solid #BF5947;
		display: inline-block;
		padding-top: 5px;

		li {
			float: left;

			&:after {
				content: '/';
				display: inline-block;
				padding: 0 5px;
			}

			&:last-child {
				&:after { content: ''; }
			}
		}

		a {
			background: transparent;
			border-top: none;
			color: #000;
			display: inline-block;
			margin: 0;
			padding: 0;

			&:visited {
				color: #000;
			}

			&:hover {
				color: #BF5947;
			}
		}
	}
}

@media only screen and (min-width: 960px) {
	.wrapper {
		padding: 7% 0 15%;
		width: 80%;
	}

	.site-header + .wrapper { padding-top: 5%; }

	.site-header {
		.social-links { padding-right: 20px; }
	}

	.module_content--home {
		float: left;
	}

	.module_content--home {
		margin: 1% 0 0 5%;
		width: 70%;
	}

	#site-intro {
		img {
			float: left;
			margin: 0;
			max-width: 250px;
			width: 25%;
		}
	}
}

@media only screen and (min-width: 1475px) {
	.social-links {
		padding-top: 10px;
	}

	.wrapper { 
		padding: 7% 0;
		max-width: 1500px; 
	}

	.site-header + .wrapper { padding-top: 7%; }

	.module_content--home {
		margin: 3% 0 0 5%;
	}

	#site-intro {
		img {
			max-width: none;
		}		
	}
}



// Portfolio Cards Section
#portfolio {
	padding: 30px 0;
}

.portfolio_card {
	margin-bottom: 40px;

	img {
		border: 1px solid #e1e1e1;
		margin-bottom: 20px;
	}
}

@media only screen and (min-width: 960px) {
	#portfolio {
		padding-top: 8%;
	}

	.portfolio_card {
		float: left;
		min-height: 230px;
		width: fluid-div(320,1000);

		&:nth-child(3n-3) { 
			margin-left: fluid-div(20,1000);
			margin-right: fluid-div(20,1000);
		}
	}
}

@media only screen and (min-width: 1475px) {
	.portfolio_card {
		width: fluid-div(320,1340);
		
		&:nth-child(3n-3) {
			margin-left: 0;
			margin-right: 0; 
		}

		&:nth-child(4n-1) {
			margin-left: fluid-div(20,1340);
			margin-right: fluid-div(10,1340);
		}

		&:nth-child(4n-4) { 
			margin-left: fluid-div(10,1340);
			margin-right: fluid-div(20,1340);
		}
	}
}



// Single Portfolio Item
#portfolio_single {
	ul {
		list-style: disc;
		margin-left: 15px;
	}

	li { 
		line-height: 1.4em;
		margin-bottom: 0.2em; 
	}
}

figure {
	margin: 0 0 1.6em 0;
	padding: 0;

	img {
		border: 1px solid #a1a1a1;
	}

	img.no-border { border: none; }
}

@media only screen and (min-width: 960px) {
	#portfolio_single {
		margin: 0 auto;
		max-width: 960px;
	}
}

@media only screen and (min-width: 1475px) {
	#portfolio_single {
		margin: 0 auto;
		max-width: 960px;
	}

	figure {
		margin: 3em 0;
	}
}



