.page {
	background-color: #e6e6e6;
}
a {
	color: #000;
}

.wrapper {
	margin: 0 auto;
	padding: 3em 10% 0;

	@media only screen and (min-width: 960px) {
		width: 80%;
	}

	@media only screen and (min-width: 1475px) {
		max-width: 1200px; 
	}
}

div.wrapper {
	@media only screen and (min-width: 960px) {
		padding: 3em 0 0 0;
	}
}

.container_site-intro > div.wrapper { 
	padding-top: 3em;
	padding-bottom: 3em;
}

footer.wrapper {
	@media only screen and (min-width: 960px) {
		padding: 0 0 5%;
	}
}

.cta {
	@extend %cta;
}

@media only screen and (min-width: 600px) {
	.cta {
		flex-grow: 1;
		margin-right: 30px;
		max-width: 250px;

		&:hover {
			background-color: darken($hoverColor, 10%);
		}
	}
}

// Menus + Nav
.menu {
	border-top: 1px solid #FFF;
	margin: 1.8em 0 0;
	padding: 0.8em 0 0;
}

.site-header {
	.menu {
		margin-top: 1em;
	}
}

.horizontal-links {
	li {
		color: #FFF;
		float: left;
		font-family: $headlineFont;

		&:after {
			content: '/';
			display: inline-block;
			padding: 0 5px 0 10px;
		}

		&:last-child {
			&:after { 
				content: none; 
				padding-right: 0;
			}
		}
	}

	a {
		color: #FFF;
		display: inline-block;
		text-decoration: none;

		&:visited { color: #FFF; }

		&:hover { color: #FFF; }
	}
}

.site-header {
	.horizontal-links {
		margin: 0 auto;
		width: 147px;
	}
}

article {
	.horizontal-links {
		margin-top: 2em;
		
		li { 
			color: #000;
			@media only screen and (min-width: 960px) {
				font-size: 1.2em;
			}
		}

		a {
			color: #000;
			&:visited { color: #000; }
			&:hover { color: $hoverColor; }
		}
	}
}

// Header for inner pages
.site-header {
	background-color: #000;
	margin-bottom: 20px;
	padding: 20px;
}

@media only screen and (min-width: 760px) {
	.site-header {
		h1, li {
			float: left;
		}

		.menu, ul {
			float: right;
		}

		.menu {
			border: none;
			margin: 0;
			padding: 0;
		}

		.horizontal-links {
			margin: 0;
			width: inherit;
		}
	}
}

// Footer
.site-footer {
	background-color: #FFF;
	padding: 3em 0;
	
	small {
		color: #fff;
		display: block;
		font-size: 0.8em;
		line-height: 2em;

		a {
			color: #fff;
			text-decoration: none;
			&:visited { color: #FFF; }
			&:hover { text-decoration: underline; }
		}
	}

	span { font-size: 1.2em; }
}

.site-footer > .wrapper {
	padding-top: 0;
	padding-bottom: 0;
}

@media only screen and (min-width: 960px) {
	.site-header + .wrapper { padding-top: 5%; }
}

@media only screen and (min-width: 1475px) {
	.site-header + .wrapper { padding-top: 5%; }
}

// Portfolio Cards Section
.portfolio-page {
	#portfolio {
		padding-top: 3em;

		@media only screen and (min-width: 1500px) {
			padding-top: 5em;
		}
	}
}

.page {
	#portfolio {
		// background-color: #FFF;
		padding-top: 2em;
		padding-bottom: 2em;

		@media only screen and (min-width: 1500px) {
			padding-top: 0;
		}
	}
}

.portfolio_card {
	background-color: #FFF;
	border-radius: 5px;
	box-shadow: 1px 0px 10px rgba(0,0,0,0.1);
	margin: 0 auto 30px;
	overflow: hidden;
	max-width: 400px;
	
	div { padding: 5% 5% 10% 5%; }

	header, footer { text-align: center; }
}

@media only screen and (min-width: 960px) {
	.portfolio_card {
		float: left;
		transition: transform .2s cubic-bezier(.25,.1,.25,1);
		width: fluid-div(320,1000);
		
		&:hover {
			transform: translateY(-.35em);
		}

		&:nth-child(3n-3) { 
			margin-left: fluid-div(20,1000);
			margin-right: fluid-div(20,1000);
		}
	}
}

@media only screen and (min-width: 1475px) {
	.portfolio_card {
		width: fluid-div(320,1340);
		
		&:nth-child(3n-3) {
			margin-left: 0;
			margin-right: 0; 
		}

		&:nth-child(4n-1) {
			margin-left: fluid-div(20,1340);
			margin-right: fluid-div(10,1340);
		}

		&:nth-child(4n-4) { 
			margin-left: fluid-div(10,1340);
			margin-right: fluid-div(20,1340);
		}
	}
}

// Single Portfolio Item
.home,
#portfolio_single {
	ul {
		list-style: disc;
		margin-left: 15px;
	}

	li { 
		font-size: 1em;
		line-height: 1.6em;
		margin-bottom: 0.2em; 

		@media only screen and (min-width: 960px) {
			font-size: 1.2em;
			line-height: 1.6em;
		}		
	}

	.details {
		ul {
			list-style: none;
			margin: 0;
		}

		li {
			border-bottom: 1px solid #c2c2c2;
			display: block;
			padding: 10px 0;

			&:last-child { 
				border-bottom: none; 
				padding-bottom: 0;
			}

			@media only screen and (min-width: 1080px) {
				border-bottom: none;
				display: inline-block;
				padding: 0;

				&:after {
					content: "/";
					display: inline-block;
					padding: 0 8px;
				}

				&:last-child {
					&:after {
						content: "";
						padding: 0;
					}
				}
			}

			a {
				text-decoration: none;
				&:visited { color: #000; }
				&:hover { 
					color: $hoverColor; 
					text-decoration: underline;
				}
			}
		}

		strong {
			display: block;

			@media only screen and (min-width: 1080px) {
				display: inline;
			}
		}
	}
}

.details {
	background-color: #FFF;
	border-radius: 5px;
	box-shadow: 1px 0px 10px rgba(0,0,0,0.1);
	margin: 3em 0;
	padding: 10%;

	@media only screen and (min-width: 960px) {
		margin: 3em 0 6em 0;
		padding: 6%;
	}
}

figure {
	margin: 3em 0 1.6em 0;
	padding: 0;

	img {
		border-radius: 5px;
		box-shadow: 1px 0px 10px rgba(0,0,0,0.1);
	}

	&.fw img {
		border-radius: 0;
		box-shadow: none;
	}

	.img-single {
		margin: 0 auto;
		max-width: 570px;
		width: 100%;
	}

	img.no-border { border: none; }
}

.lt { background-color: #f2f2f2; }

.pn { background-color: #f4f4f4 }

.fw {
	border-radius: 5px;
	box-shadow: 1px 0px 10px rgba(0,0,0,0.1);
}

.pt { padding-top: 1em; }

@media only screen and (min-width: 960px) {
	#portfolio_single {
		margin: 0 auto;
	}
}

@media only screen and (min-width: 1475px) {
	#portfolio_single {
		margin: 0 auto;
	}
}