body {
  background-color: #f2eabc;
}

h1, h3 {
  font-weight: 900;
  font-style: italic;
}

h1 {
  font-size: 3em;
  line-height: 2.4em;
  padding-top: 1em;
  @media only screen and (min-width: 760px) {
    font-size: 5em;
  }
}

h3 {
  font-size: 2em;
  margin: 1em 0 0.4em 0;
  @media only screen and (min-width: 760px) {
    font-size: 2.4em;
  }
}

.header {
  p {
      line-height: 1.6em;
      margin: 1.4em 0;
      
      @media only screen and (min-width: 760px) {
          font-size: 1.4em;
          line-height: 1.4em;
          max-width: 800px;
      }
  }
}

figcaption {
    font-weight: 400;
    line-height: 1.4em;
    margin-bottom: 1em;
}

// Loop Cards Container
.loops {
    @media only screen and (min-width: 760px) {
        .loop-cards {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
    }
}

// Loop Cards
figure {
    background-size: 100%;
    background-position: top;
    background-repeat: no-repeat;
    margin: 0 0 1.4em 0;
    padding: 10em 0 0 0;

    @media only screen and (min-width: 760px) {
        background-size: 400px;
        flex: 0 0 21%;
        margin-right: 1%;
        max-width: 400px;

        &:hover { 
          position: relative;
          top: -10px;
          right: -10px;
          box-shadow: -5px 5px 10px rgba(0,0,0,0.5) 
        }
    }

    div {
        background-color: #FFF;
        padding: 1.4em;
    }

    audio {
        width: 100%;
    }
}