@mixin rounded-corners($radius) {
	-webkit-border-radius: $radius;
	   -moz-border-radius: $radius;
	    -ms-border-radius: $radius;
	      -o-border-radus: $radius;
	        border-radius: $radius;
}

@mixin drop-shadow($x, $y, $b, $hex) {
	-webkit-box-shadow: $x $y $b $hex;
	   -moz-box-shadow: $x $y $b $hex;
	        box-shadow: $x $y $b $hex;
}

@function fluid-div($div-size, $container-size) {
	@return ($div-size / $container-size) * 100%;
}

$hoverColor: rgb(65,173,73);
$small-headline: 1.4em;
$medium-headline: 1.8em;
$table-headline: 2.2em;
$desktop-headline: 2.8em;
$headlineFont: 'Roboto Slab', Helvetica, Arial, sans-serif;
$bodyFont: 'Roboto', Helvetica, Arial, sans-serif;

%cta {
	background-color: $hoverColor;
	border-radius: 90px;
	color: #FFF;
	display: block;
	font-family: 'Roboto Slab', Helvetica, Arial, sans-serif;
	font-size: 1em;
	margin: 2em 0 0 0; 
	padding: 15px;
	text-align: center;
	text-decoration: none;
}