body { 
	color: #000; 
	font-family: 'Lato', Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4 {
	font-family: 'Abril Fatface', Helvetica, Arial, sans-serif;
}

p {
	font-size: 1em;
	line-height: 1.4em;
	margin-bottom: 1.2em;

	@media only screen and (min-width: 960px) {
		font-size: 1.1em;
		line-height: 1.5em;
	}
}

// Header for inner pages
.site-header {
	h1 {
		text-align: center;
		a {
			color: #FFF;
			text-decoration: none;
			&:visited { color: #FFF;}
		}
	}

	h1, li { font-size: $small-headline; }
}

.portfolio_card {
	h4 {
		font-size: 1.2em;
		line-height: normal;
		margin-bottom: 0.4em;

		a {
			text-decoration: none;
			&:visited { color: #000; }
		}
	}

	footer a { 
		border-top: 1px solid #000;
		color: #777;
		display: inline-block;
		font-family: 'Oswald', Helvetica, sans-serif;
		font-size: 0.9em;
		padding-top: 0.6em;
		text-decoration: none;
		text-transform: uppercase;

		&:hover { color: $hoverColor; }
	}
}

.section-title {
	border-bottom: 2px solid #000;
	font-size: $small-headline;
	margin-bottom: 1.2em;
	padding-bottom: 0.8em;
	text-align: center;

	@media only screen and (min-width: 960px) {
		font-size: $medium-headline;
		text-align: left;
	}
}

// Single Portfolio Item
.post-title {
	font-size: 1.6em;
	line-height: 1.4em;
	margin-bottom: 1.2em;
	text-align: center;
}

#portfolio_single {
	h3 {
		border-bottom: 2px solid #000;
		font-size: 1.4em;
		margin: 1.8em 0 0.8em;
		padding-bottom: 0.5em;
	}
	
	h4 {
		font-size: 1.1em;
		margin: 1.4em 0 0.5em 0;
	}
}

figcaption {
	color: #777;
	font-size: 0.7em;
	font-style: italic;
	line-height: 1.2em;
	margin-top: 1em;
}

@media only screen and (min-width: 960px) {
	.post-title {
		border-bottom: none;
		font-size: 1.8em;
	}
}

@media only screen and (min-width: 1475px) {
	.post-title {
		font-size: 2.2em;
	}

	figcaption { font-size: 0.8em; }
}