body { 
	color: #000; 
	font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4 {
	font-family: 'Roboto Slab', Helvetica, Arial, sans-serif;
}

p {
	font-size: 1em;
	line-height: 1.6em;
	margin-bottom: 1.2em;

	@media only screen and (min-width: 960px) {
		font-size: 1.2em;
		line-height: 1.6em;
	}
}

strong {
	font-weight: 700;
}

// Header for inner pages
.site-header {
	h1 {
		color: #FFF;
		font-weight: 700;
		line-height: 1.4em;
		text-align: center;
		a {
			color: $hoverColor;
			text-decoration: none;
			&:visited { color: $hoverColor;}
			&:hover { color: $hoverColor; }
		}
	}
	
	h1, li { font-size: $small-headline; }
}

.job-title { 
	font-weight: 400; 
	display: block;
	@media only screen and (min-width: 760px) {
		display: inline;
	}
}

.portfolio_card {
	h4 {
		font-family: 'Roboto', Helvetica, sans-serif;
		font-size: 1em;
		font-weight: 700;
		line-height: 1.6em;
		text-align: center;
		
		a {
			display: block;
			padding: 1.4em 0;
			text-decoration: none;
			&:visited { color: #000; }
		}
	}

	footer a { 
		border-top: 1px solid #000;
		color: #777;
		display: inline-block;
		font-family: 'Oswald', Helvetica, sans-serif;
		font-size: 0.9em;
		padding-top: 0.6em;
		text-decoration: none;
		text-transform: uppercase;

		&:hover { color: $hoverColor; }
	}
}

.section-title {
	font-size: $small-headline;
	margin-bottom: 0;
	text-align: center;

	@media only screen and (min-width: 960px) {
		font-size: $medium-headline;
		margin-bottom: 0.6em;
		text-align: left;
	}
}

// Single Portfolio Item
.post-title {
	font-size: 1.4em;
	line-height: 1.4em;
	margin-bottom: 1.2em;
	text-align: center;

	@media only screen and (min-width: 960px) {
		text-align: left;
	}
}

#portfolio_single {
	h3 {
		font-size: 1.2em;
		margin: 0 0 0.8em;

		@media only screen and (min-width: 960px) {
			font-size: 1.4em;
			margin: 2em 0 1.2em;
		}
	}

	// h4 {
	// 	font-size: 1.1em;
	// 	margin: 1.4em 0 0.5em 0;
	// }
}

.details {
	h4 {
		font-size: 1.2em;
		margin: 0 0 0.8em;

		@media only screen and (min-width: 960px) {
			font-size: 1.4em;
			margin: 0 0 1.2em;
		}

		& + ul + h4 { margin-top: 2em; }
	}

	p {
		margin-bottom: 0;
	}
}

figcaption {
	color: #777;
	font-size: 0.7em;
	font-style: italic;
	line-height: 1.2em;
	margin-top: 1em;
}

@media only screen and (min-width: 960px) {
	.post-title {
		border-bottom: none;
		font-size: 1.8em;
	}
}

@media only screen and (min-width: 1475px) {
	.post-title {
		font-size: 2.2em;
	}

	figcaption { font-size: 0.8em; }
}